.backgroundQuestion {
  background: url("../../assets/images/brainform.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hs2 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  color: black;
}
.counter {
  margin-left: auto;
  max-width: fit-content;
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
