.backgroundQuestion {
  background: url("../../assets/images/people.svg");
  background-position: 50% 100%;
  background-size: cover;
  min-height: 100vh;
}
.hs2 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  color: black;
}
