.signUp {
  background: url("../../assets/images/signUp.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  h2 {
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.466);
  }
}
